.shap{
  background:linear-gradient(60deg,#312d81 70%  ,#5648d162 30%  );
  height: 100vh;
  text-align: center;
  color:white;
 
}
.shap p{
  font-weight:bolder ;
}




.box-form{
  width: 530px;
  height: 420px;
  background-color: white;
}

.alert{
  height: 60px;
  text-align: center;
  color: red;
  font-size:small;
  
  
}
textarea{
  resize: none;
}


