.shap{
  background:linear-gradient(60deg,#312d81 75%  ,#5648d162 25%  );
  height: 100vh;
  text-align: center;
  color:white;

}
.shap p{
  font-weight:bolder ;
}

.box-form{
  max-width: 100rem;
  margin: 1rem auto;
  text-align: right;
  margin-bottom: 3rem;
  background-color:#ffffff;
  color: #ffffff;
  padding: 10px;
  border-radius: 1rem;
}

.alert{
  height: 60px;
  text-align: center;
  color: red;
  font-size:small;


}
textarea{
  resize: none;
}



