<section>
 
 <div class="container">
  <div class="row g-3 " >
    <div>
          <h1>My Blog</h1>
      <h4 class="mb-5">Perfect solution for digital experience:-</h4>

     
        <div class="col-md-12 ">
          <owl-carousel-o [options]="customOptions" >
          
            <ng-template carouselSlide ><img src="./assets/ph1.png" alt="slider1" class="carousel-Slide"  ></ng-template>  
            <ng-template carouselSlide><img src="./assets/ph3.png" alt="slider2" class="carousel-Slide"></ng-template>  
            <ng-template carouselSlide><img src="./assets/ph4.png" alt="slider3" class="carousel-Slide"></ng-template>  
            <ng-template carouselSlide><img src="./assets/ph2.jpg" alt="slider4" class="carousel-Slide"></ng-template>
            <ng-template carouselSlide><img src="./assets/ph5.png" alt="slider5" class="carousel-Slide"></ng-template>
           
          
          
          </owl-carousel-o>
        </div>
        
       
     
    
    </div>
  </div>
 </div>
 
</section>